/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */


.jph-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  /* line-height: 1.428571429; */
  border-radius: 15px;
  box-shadow: none;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
}

.jph-box{
  font-size: 11px;
  border: .11em solid navy;
  border-radius: .5em;
  /* min-height: 70px; */
  box-shadow: none;
  background-color: #dddddd;
  /* margin-bottom: 1em;  */
  padding: 0;
  overflow: hidden;
}

.jph-box-header{
  height: 15px;
  padding: 0;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}

.jph-box-subheader{
  display: none; 
  padding: 0;
  line-height: 30px;
  text-align: center;
  border: 1px solid transparent; /* dashed #f69c55; */
}

.jph-box-value{
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-align: center;
  border: 1px solid transparent; /* dashed #f69c55; */
}

.jph-box-value-bar {
  line-height:30px;
}

.jph-box-value-text{
  text-align: center;
  line-height: 30px;
}

.jph-box-footer{
  height: 15px;
  padding: 0;
/* position: absolute;
  right: 0;
  bottom: 0;
  left: 0; */
  font-size: 9px;
  text-align: center;
  border-top: 1px solid transparent;
  color: #333;
  background-color: #dddddd; 
}

.jph-info{
  color: #333;
  background-color: #dddddd;
}

.jph-error{
  color: #333;
  background-color: #b74f33;
}

.jph-okay{
  color: #fff;
  background-color: #337ab7;
}

.mysub{
  display: none;
}

.mytitle:hover mysub {
  display: block;
}

/*
* {
  box-sizing: border-box;
}
*/

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
  font-weight: bold;
  font-size: 160px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
